@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}
.btn-primary {
  width: 174px;
  height: 32px;
  border-radius: 8px;
  background: #ff5400;
  border: none;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-weight: 700;
}

/* header related styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 53px 120px;
}
nav h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav h2 .logo {
  width: 48px;
  height: 56.008px;
}
nav h2 {
  color: #131318;
  font-family: Mulish;
  font-size: 2.25rem;
  font-weight: 800;
}
nav h2 .nav-title {
  color: #ff5400;
  font-family: Mulish;
  font-size: 2.25rem;
  font-weight: 800;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
nav li {
  margin-left: 44px;
}
nav ul li a {
  text-decoration: none;
  color: #424247;
  text-align: center;
  font-family: Mulish;
  font-size: 1.2rem;
  font-weight: 400;
}

nav ul li .home {
  color: #ff5400;
  text-align: center;
  font-family: Mulish;
  font-size: 1.2rem;
  font-weight: 700;
}
/* banner related style here */
.banner {
  text-align: center;
  width: 1170px;
  height: 300px;
  flex-shrink: 0;
  border-radius: 16px;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/Group13.png");
  background-repeat: no-repeat;
  margin: 0px 165px;
  padding-top: 106px;
}
.banner-content h2 {
  color: #fff;
  font-family: Mulish;
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 24px;
}
.banner-content p {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-weight: 400;
  max-width: 676px;
  padding: 0px 247px;
  margin-bottom: 48px;
}
.banner-form {
  display: inline-flex;
  padding: 16px;
  align-items: flex-start;
  gap: 24px;
  border-radius: 8px;
  border: none;
  background: rgba(255, 255, 255, 0.3);
}
.banner-form input {
  width: 174px;
  height: 32px;
  border-radius: 8px;
  border: none;
  background: #fff;
}
/* main related styles */
/* Tour related style */
.tour-container {
  display: flex;
  margin: 100px 135px;
  gap: 75px;
}
.tour-title {
  color: #131318;
  text-align: left;
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 24px;
}
.tour-description {
  color: rgba(19, 19, 24, 0.7);
  font-weight: 400;
  width: 577px;
  margin-bottom: 24px;
}
.tour-list {
  color: rgba(19, 19, 24, 0.7);
  font-weight: 400;
  width: 525px;
  margin-bottom: 16px;
}
.tour-description2 {
  color: #5a5a5d;
  font-weight: 400;
  width: 530px;
  margin-bottom: 32px;
}
.tour-image {
  width: 100%;
  border-radius: 16px;
}
/* collage related style */
.collage{
    margin: 60px 135px;
}
.collage-title{
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 24px;
}
.collage-descriptin{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-weight: 400;
    width: 643px;
    padding-left: 300px;
}
.item-box{
    margin: 60px 135px;
}
.card{
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-bottom: 24px;
}
.item1{
    background: url('../Images/Rectangle5.png');
    background-repeat: no-repeat;
    width: 573px;
    height: 100%;
    border-radius: 16px;
    color: #FFF;
    text-align: center;
    align-items: center;
    font-size: 1.75rem;
    font-weight: 800;
    padding-top: 132px
}
.item2{
    background: url('../Images/Rectangle8.png');
    background-repeat: no-repeat;
    width: 573px;
    height: 100%;
    border-radius: 16px;
    color: #FFF;
    text-align: center;
    align-items: center;
    font-size: 1.75rem;
    font-weight: 800;
    padding-top: 132px
}
.item3{
    background: url('../Images/Rectangle6.png');
    background-repeat: no-repeat;
    width: 374px;
    height: 100%;
    border-radius: 16px;
    color: #FFF;
    text-align: center;
    align-items: center;
    font-size: 1.75rem;
    font-weight: 800;
    padding-top: 125px;
}
.item4{
    background: url('../Images/Rectangle7.png');
    background-repeat: no-repeat;
    width: 474px;
    height: 100%;
    border-radius: 16px;
    color: #FFF;
    text-align: center;
    align-items: center;
    font-size: 1.75rem;
    font-weight: 800;
    padding-top: 125px;
}
.item5{
    background: url('../Images/Rectangle9.png');
    background-repeat: no-repeat;
    width: 274px;
    height: 100%;
    border-radius: 16px;
    color: #FFF;
    text-align: center;
    align-items: center;
    font-size: 1.75rem;
    font-weight: 800;
    padding-top: 125px;
}
.item6{
    background: url('../Images/Rectangle11.png');
    background-repeat: no-repeat;
    width: 473px;
    height: 100%;
    border-radius: 16px;
    color: #FFF;
    text-align: center;
    align-items: center;
    font-size: 1.75rem;
    font-weight: 800;
    padding-top: 132px;
}
.item7{
    background: url('../Images/Rectangle10.png');
    background-repeat: no-repeat;
    width: 673px;
    height: 100%;
    border-radius: 16px;
    color: #FFF;
    text-align: center;
    align-items: center;
    font-size: 1.75rem;
    font-weight: 800;
    padding-top: 132px;
}




















@media screen and (max-width: 576px) {
  nav {
    margin: 0px;
    flex-direction: column;
  }
  nav ul {
    flex-direction: column;
    padding-right: 25px;
  }
  nav li {
    margin-bottom: 0px;
  }
  .banner {
    width: 335px;
    height: 483px;
    margin: 18px;
    padding: 0px;
  }
  .banner-content p {
    padding: 0px;
  }
  .banner-content h2 {
    color: #fff;
    font-family: Mulish;
    font-size: 1.3rem;
    font-weight: 800;
    padding-top: 32px;
  }
  .banner-content p {
    color: #fff;
    text-align: center;
    font-family: Mulish;
    font-weight: 400;
    width: 300px;
    font-size: 0.7rem;
    padding-left: 20px;
  }
  .banner-form {
    display: flex;
    width: 287px;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);
    margin: 0px 10px;
  }
  .banner-form input {
    width: 255px;
    height: 52px;
    border-radius: 8px;
    background: #fff;
  }
  .btn-primary {
    width: 255px;
    height: 52px;
    border-radius: 8px;
    background: #ff5400;
    color: #fff;
    text-align: center;
    font-weight: 700;
  }
  .tour-container{
    flex-direction: column;
    margin: 20px;
    padding: 0;
  }
  .tour-title{
    color: #131318;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 800;
  }
  .tour-description, .tour-list, .tour-description2{
    color: rgba(19, 19, 24, 0.70);
    font-size: 0.875rem;
    font-weight: 400;
    width: 335px;
  }
  .tour-image img{
    width: 335px;
  }
}
