@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}
.btn-primary {
  width: 174px;
  height: 32px;
  border-radius: 8px;
  background: #ff5400;
  border: none;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-weight: 700;
}

/* header related styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 53px 120px;
}
nav h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav h2 .logo {
  width: 48px;
  height: 56.008px;
}
nav h2 {
  color: #131318;
  font-family: Mulish;
  font-size: 2.25rem;
  font-weight: 800;
}
nav h2 .nav-title {
  color: #ff5400;
  font-family: Mulish;
  font-size: 2.25rem;
  font-weight: 800;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
nav li {
  margin-left: 44px;
}
nav ul li a {
  text-decoration: none;
  color: #424247;
  text-align: center;
  font-family: Mulish;
  font-size: 1.2rem;
  font-weight: 400;
}

nav ul li .home {
  color: #ff5400;
  text-align: center;
  font-family: Mulish;
  font-size: 1.2rem;
  font-weight: 700;
}
/* banner related style here */
.banner {
  text-align: center;
  width: 1170px;
  height: 300px;
  flex-shrink: 0;
  border-radius: 16px;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/Group13.png");
  background-repeat: no-repeat;
  margin: 0px 165px;
  padding-top: 106px;
}
.banner-content h2 {
  color: #fff;
  font-family: Mulish;
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 24px;
}
.banner-content p {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-weight: 400;
  max-width: 676px;
  padding: 0px 247px;
  margin-bottom: 48px;
}
.banner-form {
  display: inline-flex;
  padding: 16px;
  align-items: flex-start;
  gap: 24px;
  border-radius: 8px;
  border: none;
  background: rgba(255, 255, 255, 0.3);
}
.banner-form input {
  width: 174px;
  height: 32px;
  border-radius: 8px;
  border: none;
  background: #fff;
}
/* main related styles */
/* Tour related style */
.tour-container {
  display: flex;
  margin: 100px 135px;
  gap: 75px;
}
.tour-title {
  color: #131318;
  text-align: left;
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 24px;
}
.tour-description {
  color: rgba(19, 19, 24, 0.7);
  font-weight: 400;
  width: 577px;
  margin-bottom: 24px;
}
.tour-list {
  color: rgba(19, 19, 24, 0.7);
  font-weight: 400;
  width: 525px;
  margin-bottom: 16px;
}
.tour-description2 {
  color: #5a5a5d;
  font-weight: 400;
  width: 530px;
  margin-bottom: 32px;
}
.tour-image {
  width: 100%;
  border-radius: 16px;
}
/* collage related style */
.Destination-section {
    width: 80%;
    margin: 0 auto;
  }
  
  .Destination-title{
    align-items: center;
    text-align: center;
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 24px;   
  }
  .Destination-description{
    color: rgba(19, 19, 24, 0.7);
    text-align: center;
    width: 40%;
    margin: 0 auto;
    font-weight: 400;
  }
  .image-box{
    margin-top: 48px;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 24px 24px;
    grid-auto-flow: row;
    grid-template-areas:
      "Maldives Maldives Maldives Indonesia Indonesia Indonesia"
      "Srilanka Srilanka North-America North-America Kashmir Kashmir"
      "Bangladesh Bangladesh Bandarban Bandarban Bandarban Bandarban";
  }
  .image-box img {
    width: 100%;
    height: 300px;
    border-radius: 20px;
  }
  
  .Maldives {
    grid-area: Maldives;
  }
  
  .Indonesia {
    grid-area: Indonesia;
  }
  
  .Srilanka {
    grid-area: Srilanka;
  }
  
  .North-America {
    grid-area: North-America;
  }
  
  .Kashmir {
    grid-area: Kashmir;
  }
  
  .Bangladesh {
    grid-area: Bangladesh;
  }
  
  .Bandarban {
    grid-area: Bandarban;
  }
/* Why Choose Us */
.Categorey-title{
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800; 
    margin-top: 100px;
}
.Categorey-description{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-weight: 400; 
    width: 643px;
    padding: 10px 450px;
    margin-bottom: 48px;
}
.hotels{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 135px;
    gap: 24px 24px;
}
.Handpicked-Hotels, .Guarantee{
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding-left: 32px; 
    padding-top: 32px;    
}
.Service{
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05); 
    padding-left: 32px;
    padding-top: 32px;
}
.Guarantee{
    margin: 24px 435px;
}
/* perfect place */
.perfect-place{
    display: flex;
    gap: 200px;
    margin: 100px 135px;
}
.place-title{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    width: 448px;
    margin-bottom: 24px;
}
.place-description{
    color: #5A5A5D;
    font-weight: 400;
    width: 532px;
    margin-bottom: 24px;
}
.place-content ul li{
    color: #131318;
    font-weight: 700;
    width: 518px;
    margin-bottom: 32px;
}
/* newsletter */
.news-section{
    display: flex;
    margin: 100px 135px;
    gap: 200px;
}
.newsletter{
    width: 474px;
    height: 422px;
    border-radius: 16px;
    border: 1px solid #FF5400;    
}
.news-title{
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    padding-left: 40px; 
    padding-top: 40px;
    margin-bottom: 16px;
}
.news-description{
    color: #5A5A5D;
    font-weight: 400;
    width: 350px; 
    padding-left: 40px;
    margin-bottom: 24px;  
}
hr{
    width: 393px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10); 
    margin-left: 40px;
    margin-bottom: 24px;   
}
form{
    padding-left: 40px;
}
form input{
    width: 393px;
    height: 52px;
    color: rgba(19, 19, 24, 0.30);
    font-weight: 400;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
    margin-bottom: 16px;   
    padding-left: 16px;
}
.news-card img{
    width: 672px;
    height: 422px;
    border-radius: 16px;  
}
.news-text{
    width: 300px;
    height: 75px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;    
    text-align: center;
    padding-top: 25px;
    position: absolute;
    color: #fff;
    right: 0;
    margin-top: -175px;
    margin-right: 20px;
}
.news-card{
    position: relative;
}

@media screen and (max-width: 576px) {
  nav {
    margin: 0px;
    flex-direction: column;
  }
  nav ul {
    flex-direction: column;
    padding-right: 25px;
  }
  nav li {
    margin-bottom: 0px;
  }
  .banner {
    width: 335px;
    height: 483px;
    margin: 18px;
    padding: 0px;
  }
  .banner-content p {
    padding: 0px;
  }
  .banner-content h2 {
    color: #fff;
    font-family: Mulish;
    font-size: 1.3rem;
    font-weight: 800;
    padding-top: 32px;
  }
  .banner-content p {
    color: #fff;
    text-align: center;
    font-family: Mulish;
    font-weight: 400;
    width: 300px;
    font-size: 0.7rem;
    padding-left: 20px;
  }
  .banner-form {
    display: flex;
    width: 287px;
    padding: 0px 10px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);
    margin: 0px 10px;
  }
  .banner-form input {
    width: 255px;
    height: 52px;
    border-radius: 8px;
    background: #fff;
  }
  .btn-primary {
    width: 255px;
    height: 52px;
    border-radius: 8px;
    background: #ff5400;
    color: #fff;
    text-align: center;
    font-weight: 700;
  }
  /* popular tour */
  .tour-container{
    flex-direction: column;
    margin: 20px;
    padding: 0;
  }
  .tour-title{
    color: #131318;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 800;
  }
  .tour-description, .tour-list, .tour-description2{
    color: rgba(19, 19, 24, 0.70);
    font-size: 0.875rem;
    font-weight: 400;
    width: 335px;
  }
  .tour-image img{
    width: 335px;
  }
/* destination section */
.Destination-section {
    width: 95%;
    overflow: hidden;
  }
  .Destination-title{
    font-size: 1.2rem;
  }
  .Destination-description {
    width: 70%;
    font-size: 0.825rem;
    margin-bottom: 24px;
  }
  .image-box {
    margin: 0 auto;
    gap: 16px 16px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "Maldives"
      "Indonesia"
      "Srilanka"
      "North-America"
      "Kashmir"
      "Bangladesh"
      "Bandarban";
  }
  .image-box img {
    width: 95%;
  }
/* Why Choose Us */
.hotels{
flex-direction: column;
}
.Categorey-description{
    padding-left: 50px;
    padding-right: 0;
    width: 309px;

}
.Guarantee{
margin-left: 20px;

}
.Handpicked-Hotels, .Service, .Guarantee{
    width: 335px;
    height: 289px;
}
/* perfect place */
.perfect-place{
    flex-direction: column;
    margin: 20px;
    gap: 20px;
}
.place-title{
    width: 248px; 
    font-size: 1.2rem;
}
.place-description{
    width: 335px;
    font-size: 0.875rem;
}
.perfect-place ul li{
    width: 335px;
    font-size: 0.875rem;
}
.perfect-place .btn-primary{
    width: 174px;
    height: 52px; 
}
.place-video iframe {
    width: 335px;
    height: 200px;
}
/* newsletter */
.news-section{
    flex-direction: column;
    margin: 0;
    gap: 20px;
    padding: 20px;
}
.newsletter{
    width: 335px;
    height: 353px;
    border-radius: 16px;
    border: 1px solid #FF5400;  
    padding-right: 20px;
}
.news-title{
    color: #131318;
    font-size: 1.2rem;
    font-weight: 800;
    padding-top: 20px;
}
.news-description{
    width: 270px; 
}
hr{
    width: 288px;
    height: 1px;    
}
form input{
    width: 288px;
    height: 52px;
    padding-left: 0;       
}

.news-discount img{
    width: 355px;
    height: 300px;
    border-radius: 16px; 
}
form button .btn-primary{
    width: 288px;
    height: 52px; 
}
.news-text{
    margin-top: -125px;
    width: 214.023px;
    height: 59.268px; 
    margin-right: 35px;
    padding-top: 10px;

}





}

